*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}
h1{
    text-align: center;
}
figure{
    display: flex;
    justify-content: center;
}
img{
    width: 500px;
}
p{
    text-align: center;
}